<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/static/css/landind_page.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1 class="portfolio">PORTFOLIO</h1>
            <h1 class="first">ANTHONY NDEGWA</h1>
            <h3 class="career">DATA SCIENTIST | MACHINE LEARNING ENGINEER</h3>
            <h3 class="career">DATA ANALYST | BACKEND DEVELOPER WITH PYTHON</h3>
        </div>
        <img src="/static/images/new tony.jpg" alt="Anthony Ndegwa">
    </div>

    <div>
        <a href="{{ url_for('main.about') }}"><button class="about">ABOUT ME</button><a>
        <a href="{{ url_for('main.education') }}"><button class="education">EDUCATION</button></a>
        <a href="{{ url_for('main.projects') }}"><button class="projects">MY PROJECTS</button></a>
        <a href="{{ url_for('main.contact') }}"><button>CONTACTS</button></a>
        <a href="{{ url_for('main.about') }}"><button class="next">next</button></a>
    </div>
</body>
</html>